body {
    padding: 0;
    border: 0;
    background-image: url(../images/stripes-light.png);
}

.header { 
    height: 50px;
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto
}

h1 {
    width: 240px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
    font-size: 26px;
    font-family: Georgia, Times 'Times New Roman', Times, serif;
    text-align: center;
    float: left;
    padding-top: 10px;
    margin-left: 280px;
}

.nav {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100%;
    padding-bottom: 50px;
}

 h2 {
     font-size: 26px;
     text-align: left;
     padding: 30px;
 }

 section {
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 150px;
    height: 400px;
 }

h2 {
    font-family: Georgia, Times 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px ridge #dddddd;
    width: 760px;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 15px;
}
 p1 {
     font-family: Arial, Helvetica, sans-serif;
     color: #777777;
     line-height: 2;
     font-size: 14pt;
 }
 ul {
     list-style-type: none;
     margin-right: 280px;
     color: #4aaaa5;
 }

 footer {
     height: 45px;
     width: 100%;
     text-align: center;
     margin: 0 auto;
     border-top-color: #4aaaa5;
     border-top-width: 5px;
     border-top-style: solid;
     background-color: #666666;
     padding-top: 25px;
 }
p3 {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }

img {
     padding: 10px;
     float: left;
     margin-right: 10px;
     margin-bottom: 5px;
     margin-top: 10px;
 }

.list {
    float: right;
    display: block;
    padding: 10px;
}
a {
    color: #777777;
    text-decoration: none;
    border-right-color: #4aaaa5;
    border-right-width: 1px;
    border-right-style: solid;
    padding-top: 10px;
    padding-right: 20px;
    border-top: 10px;
}

/*Contact Section*/

.sect2 {
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 170px;
    height: 380px;
    width: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
}

.containercontact {
    width: 960px;
    margin: 0 auto
}

input[type=text], select, textarea {
    width: 100%;
    margin-top: 5px;
}
#message {
    height: 150px;
    padding-bottom: 5x;
}

h4 {
        font-family: Georgia, Times 'Times New Roman', Times, serif;
        color: #4aaaa5;
        border-bottom: 2px ridge #dddddd;
        width: 700px;
        margin-left: 5px;
        font-size: 26px;
        padding-bottom: 10px;
}

.name {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.email {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

.message {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color:white;
    background-color: #4aaaa5;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

button:hover {
    color:black;
}

/* Portfolio */
h5 {
    font-family: Georgia, Times 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px ridge #dddddd;
    width: 700px;
    margin-left: 5px;
    font-size: 26px;
    padding-bottom: 10px 
}

.hangman {
    position: absolute;
    top: 33%;
    left: 26.7%;
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    border-left-width: 43.3px;
    border-left-color: #4aaaa5;
    border-left-style: solid;
    border-right-width: 43.3px;
    border-right-color: #4aaaa5;
    border-right-style: solid;
}

.rpg {
    position: absolute;
    top: 33%;
    left: 37.75%;
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    border-left-width: 38.5px;
    border-left-color: #4aaaa5;
    border-left-style: solid;
    border-right-width: 38.5px;
    border-right-color: #4aaaa5;
    border-right-style: solid;
}

.trivia {
    position: absolute;
    top: 55%;
    left: 26.7%;
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    border-left-width: 34px;
    border-left-color: #4aaaa5;
    border-left-style: solid;
    border-right-width: 34px;
    border-right-color: #4aaaa5;
    border-right-style: solid; 
}

.info {
    position: absolute;
    top: 55%;
    left: 37.75%;
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    border-left-width: 36.2px;
    border-left-color: #4aaaa5;
    border-left-style: solid;
    border-right-width: 36.2px;
    border-right-color: #4aaaa5;
    border-right-style: solid;
}

.rps {
    position: absolute;
    top: 77%;
    left: 26.7%;
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    border-left-width: 9.5px;
    border-left-color: #4aaaa5;
    border-left-style: solid;
    border-right-width: 9.5px;
    border-right-color: #4aaaa5;
    border-right-style: solid;
}

#ipad {
    margin: 0;
}

#dj {
    margin: 0;
}

#headphones {
    margin: 0;
}

#iphone {
    margin: 0;
}

#tv {
    margin: 0;
}
.sect3 {
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 500px;
    width: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
}